@model object

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Card Checker</title>

    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" rel="stylesheet">

    <style>
        html,
        body { height: 100%; }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus { z-index: 2; }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-bottom: 10px;
        }
          
    </style>

</head>

<body class="text-center">
<form class="form-signin">
    <h1 class="font-weight-normal h3 mb-3">Validate Your Credit Card</h1>

    <div class="control-group">
        <label class="control-label" for="credit-card">
            <strong>Name Surname</strong>
        </label>
        <div class="controls">
            <input class="form-control xlarge" id="holder" name="holder" type="text">
           
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="credit-card">
            <strong>Card Number</strong>
        </label>
        <div class="controls">
            <input class="form-control xlarge" id="credit-card" name="credit-card" type="text">
            <span class="help-inline" id="credit-card-type-text"></span>
        </div>
    </div>
    <div class="control-group">
        <div class="row">
            <div class="col-sm">
                <label class="control-label" for="credit-card">
                    <strong>Month</strong>
                </label>
                <div class="controls">
                    <input class="form-control xlarge" id="m" name="m" type="text">
                </div>
            </div>
            <div class="col-sm">
                <label class="control-label" for="credit-card">
                    <strong>Year</strong>
                </label>
                <div class="controls">
                    <input class="form-control xlarge" id="y" name="y" type="text">
                </div>
            </div>
           
        </div>
       
    </div>
    
   
    <!-- Card Images Output -->
    <div class="control-group controls">
        <label>Accepted Cards</label>
        <div class="controls">
            <div class="pull-left" id="accepted-cards-images">
                <!-- Icons Automatically Inserted Here -->
            </div>
        </div>
    </div>

    <br>
    <button class="btn btn-block btn-lg btn-primary" type="submit">Check Information</button>

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/cardcheck.min.js"></script>
<script>
    $(function() {
        // Step #1: Cache Selectors
        var creditCard = $("#credit-card"),
            cardGrandParent = creditCard.parent().parent();

        // Step #2: Setup Callbacks on Events
        creditCard.on("cc:onReset cc:onGuess",
            function() {

                cardGrandParent.removeClass().addClass("control-group");

            }).on("cc:onInvalid",
            function() {

                cardGrandParent.removeClass().addClass("control-group error");
                $("#credit-card-type-text").text("");

            }).on("cc:onValid",
            function(event, card, niceName) {

                cardGrandParent.removeClass().addClass("control-group success");

            }).on("cc:onCardChange",
            function(event, card, niceName) {

                $("#credit-card-type-text").text(niceName);

                // Step #3: Initialize the cardcheck plugin
            }).cardcheck({
            iconLocation: "#accepted-cards-images",
            acceptedCards: [
                'visa',
                'mastercard',
                'amex',
                'jcb'
            ]
        });

        $('.btn-block').on('click',
            function(e) {
                e.preventDefault();
                checkCard();
            });
    });

    function checkCard() {
        var card = {
            'HolderFullName': $('#holder').val(),
            'Number': $('#credit-card').val(),
            'Month': $('#m').val(),
            'Year': $('#y').val()
        };

        $.ajax({
            type: 'POST',
            accepts: 'application/json',
            url: '/api/card',
            contentType: 'application/json',
            data: JSON.stringify(card),
            error: function(jqXHR, textStatus, errorThrown) {
                alert("An error occured");
            },
            success: function(result) {
                alert(result.message);
            }
        });
    }
</script>
</body>
</html>
